h1 {
	text-align: center;
	margin-bottom: 2em;
}
button {
	height: 100px;
	width: 200px;
	font-size: 20px;
}
.buttons {
	text-align: center;
}
.buttons2 {
	text-align: center;
}
.button1 {
	margin-right: 3em;
}
ul {
	position: fixed;
	top: 2em;
	right: 2em;
	list-style: none;
}